#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
}

.img-sobre{
    background-image: url('../images/background-sobre.jpg');
}
.roxo-menu{
    color:white;
    background-color: transparent;
    font-size: x-large;
}
.bg-roxo{
    background-color: #3e2556;
    color:white;
}

.txt-roxo{
    color:#3e2556;
}
a:hover{
    color:#3e2556;
}
a{
    text-decoration: none;
}
.txt-ux{
    font-family: 'Monoton', cursive;
    font-size: 2em;
    color:#ce6a06;
}
.question-ux{
    font-size: 2.3em;
}
.txt-laranja{
    color:#ce6a06;
}
.img-udesignx{
    background-image: url('../images/img-pc-grad.jpg');
    color:white;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.txt-fazemos{
    font-family: 'Monoton', cursive;
    color:#ce6a06;
    
}